[2016-04-04 09:40] cibernox opened #2 "Invalid buildpack error message"
Seems that there is an error in the readme. Running this line:
[code]

results in

[code]

[2016-04-15 14:34] hhff opened #4 "Is this thingo stable?"
HI team!

Noticed there's no version number or anything here.  Is this bad-boy considered stable?  If so - could we cut a real release of it?

hx

[2016-04-15 19:00] hone commented on #2
Thanks for the report. Looks like an issue with `npm` which the heroku toolbelt uses sadly. :( I documented a workaround in  311e76c.

[2016-04-15 19:00] #2 closed

[2016-04-15 20:51] michaelshobbs opened #5 "buildpack distribution standard"
Apologies for creating an issue here but wasn't sure of a better forum to ask. Is there any reason this buildpack needs to differ from the rest of the official buildpacks with regards to how it's distributed?

The majority (all maybe?) of the other buildpacks can be included in an app (either Heroku or dokku, et al) via a GitHub URL. I see here there is a build step that compiles things like your

[2016-04-15 20:59] hone commented on #5
First off, this is not an reflection on any other official buildpacks. It's in fact not official, but an open source initiative for running Ember.js on Heroku.

With respect to the compiling, yes you can't include it with a GitHub URL because of the compiling aspect that `mruby-cli` uses. I debated on whether to write it in Ruby, bash, or as its own binary with `mruby-cli`. I decided that being ab

[2016-04-15 21:10] michaelshobbs commented on #5
Ah ok. I think the fact that the buildpack resides under the Heroku github org lends more weight (and possibly causes more anxiety) around these particular design decisions and how they could be a glimpse into the future of Heroku buildpacks.

Thanks for clarifying.

[2016-04-15 21:10] #5 closed

[2016-04-15 22:31] hone commented on #5
@michaelshobbs was it an issue in making it work with dokku?

[2016-04-15 23:38] michaelshobbs commented on #5
Yes. See gliderlabs/herokuish#143 and gliderlabs/herokuish#144 for details. TL:DR we never built in support downloading random urls for use as a buildpack. **shrug**

[2016-04-18 17:17] hone commented on #5
@michaelshobbs Thanks for the context and getting it working.

[2016-04-30 20:54] Dhaulagiri opened #6 "ember-fastboot command not found"
This is likely an issue upstream, but I thought I'd log it here to start.  There seems to be a problem if your app is not using Node 5/npm 3 where ember-fastboot-server does not get installed and your app subsequently fails to boot like this:

[code]

I was able to solve this in my Node 4/npm 2 app with `npm install --save-dev ember-fastboot-server`.

[2016-05-06 08:02] mike-north opened #8 "Support for forcing HTTPS"
It would be excellent if we could figure out how to do this in a way that works across both the static and nodejs buildpacks (meaning the user doesn't have to care about whether their app is in "fastboot mode" or not)

[2016-05-12 02:29] maletor commented on #8
@mike-north, [I think it does](https://github.com/heroku/heroku-buildpack-ember-cli-deploy/blob/05e836ad829beda0b10bcc6cb0deed5f5db0c3ba/buildpack/mrblib/buildpack/commands/compile/default_static_config.rb#L24).

Just define a `static.json` file in the root of your project.

[2016-05-12 03:22] mike-north commented on #8
@maletor as far as I can see, this only would affect the static buildpack (the one used for a non-fastboot app)

[2016-05-12 04:50] maletor commented on #8
You're right. What do you propose? I can see issues with using the same JSON file.

[2016-05-12 14:13] mike-north commented on #8
I think that we need another config in the node.js buildpack that does something similar (redirects non-https traffic to https). This way developers could put both in place and then add/remove fastboot and see no change in http vs. https behavior.

[2016-05-12 21:22] ghost commented on #6
I have the same problem with the latest Node 6.1.x and npm 3.8.

[2016-05-12 21:24] Dhaulagiri commented on #6
I think my analysis of the problem here may have been incorrect as there have been changes to fastboot which may be the culprit

[2016-05-13 07:26] dustinfarris commented on #6
Looks like we should be using fastboot-app-server now https://github.com/ember-fastboot/fastboot/blob/master/docs/deprecations.md#ember-fastboot-server-deprecated

[2016-05-13 19:27] hone commented on #6
yeah, there needs to be a CLI component added still. if this will take longer, I'll look into rolling a simple `server.js`, but i'd like to avoid that if possible. /cc @tomdale

[2016-05-13 19:28] hone commented on #8
potentially, this should be a thing added to the new [fastboot-app-server](https://github.com/ember-fastboot/fastboot-app-server). At some point, I'd like to explore fronting fastboot apps with nginx, but need to look into how tricky that'd be and managing multiple processes on a single dyno.

[2016-05-16 17:48] tomdale commented on #6
@hone I will work on adding this back today.

[2016-05-19 12:17] tomdale commented on #6
@hone I released fastboot-CLI yesterday, you should install that if you detect ember-CLI-fastboot.

[2016-05-20 22:27] hone commented on #6
Thanks @tomdale I'll take a look at trying to implement this today.

[2016-05-21 00:14] hone commented on #6
Fixed this [here](https://github.com/heroku/heroku-buildpack-ember-cli-deploy/commit/137c9c4d9ccfe8047ed6463a907ecd94ef6168c8) and pushed a new release out. Let me know if anyone is still running into this.

[2016-05-21 00:14] #6 closed

[2016-05-24 01:28] knownasilya opened #9 "Disable ember-cli-deploy check"
Is there a way to disable the ember-cli-deploy, since mine is setup for pagefront and I don't want to remove it.

[2016-05-24 22:43] hone commented on #9
@knownasilya Hi, there currently isn't a way to do it now. What's your `ember-cli-deploy` setup right now? Can you paste your `package.json`?

[2016-05-24 22:45] hone commented on #4
@hhff it's stable in the sense that I'm planning on maintaining it with some help from @Dhaulagiri. It's still somewhat experimental as we figure out what makes the best ember experience I can provide. What are you looking for in a "release"? a git tag?

[2016-05-24 22:51] hhff commented on #4
Thanks @hone !  Mostly just wanted to know how reliable / stable this is.  No need for a git tag!

[2016-05-24 22:51] #4 closed

[2016-05-24 23:09] knownasilya commented on #9
[code]

[2016-05-26 22:39] hone commented on #9
Thanks! I have an idea on how I can work around this, but it might take me
a bit to get to it.

On Tue, May 24, 2016 at 6:09 PM Ilya Radchenko notifications@github.com
wrote:

[2016-06-10 12:17] t4t5 commented on #8
@mike-north Did you guys find a workaround for this issue?

[2016-07-14 16:57] kellyselden opened #10 "Kill bower cache?"
I'm trying to debug an issue with my deploy, and the bower cache is looking suspicious. Is there a command in the buildpack or the heroku dashboard that will kill all the caches?

[2016-07-14 17:16] kellyselden commented on #10
So I found the command to kill cache `heroku repo:purge_cache -a appname`, but the same deployment issue keeps on happening:

[code]

[2016-07-14 18:09] kellyselden commented on #10
Closing for now because I think it was a npm dep that was temporarily fubared.

[2016-07-14 18:09] #10 closed

[2016-07-14 18:09] michaelshobbs opened #11 "ReferenceError: Ember is not defined"
getting the following error just in the last few hours in the herokuish test suite using this buildpack.

app repo: https://github.com/gliderlabs/herokuish/tree/master/buildpacks/buildpack-emberjs/tests/emberjs
[code]

If I remove `ember-cli-fastboot`, the app starts up and I think this is resolved. However, I'm not well versed in the ember ecosystem and am looking for a little guidance as to whet

[2016-07-14 18:16] hone commented on #10
@kellyselden we should be [clearing the bower cache on changes to bower.json](https://github.com/heroku/heroku-buildpack-ember-cli-deploy/commit/bd48497e9f49f1d2d569518a8a1da68e30d7e47b).

[2016-07-14 18:25] michaelshobbs commented on #11
Actually, removing `ember-cli-fastboot` changes the behavior of the app. (derp). Things seem to magically be working now...some unknown upstream dependency perhaps?

[2016-07-14 18:25] rwjblue commented on #11
@michaelshobbs - Yes, there was a disturbance in the force.  It should be good now.

[2016-07-14 18:26] michaelshobbs commented on #11
Any insight into said "disturbance?"

[2016-07-14 18:30] rwjblue commented on #11
broccoli-caching-writer@2.3.0 broke the way the `vendor.js` file was concatenated. We reverted in 2.3.1 which killed the evil Sith that were attacking our applications.

[2016-07-14 18:30] michaelshobbs commented on #11
refs: https://github.com/gliderlabs/herokuish/pull/163

[2016-07-14 18:32] michaelshobbs commented on #11
@rwjblue Thank you for the explanation 😄

[2016-07-14 18:32] #11 closed

[2016-08-23 00:42] jsquirrelz commented on #8
Is there currently a way to do this with the static buildpack? I opened an issue [here](https://github.com/heroku/heroku-buildpack-ember-cli/issues/13) about the redirects not happening despite the presumed correct configuration. BTW, is this the main ember buildpack repo? If so, I can close the other issue.

[2016-09-08 02:04] rwwagner90 opened #12 "Memory issues"
I am getting a bunch of critical memory errors with my app. Perhaps workers are being spawned infinitely until all the memory is eaten up?

[2016-09-12 09:18] zeppelin opened #13 "Option to disable Fastboot"
Currently if `ember-cli-fastboot` is present in `package.json` there is no option to op-out from serving the app in Fastboot mode. This is not desired when a feature or two is not compatible with Fastboot (yet), but the app works fine with the static buildpack, which would be fine for ex. a review app. The problem here is that the app can't be deployed without Fastboot anymore, since the entry fro

[2016-09-12 13:13] Dhaulagiri commented on #12
/cc @hone for any insights here.  @rwwagner90 if you have any more detail you could about your setup or the specific errors you're seeing that might be helpful.

[2016-09-12 19:16] RobbieTheWagner commented on #12
@Dhaulagiri I am not sure how to see more details about the errors. I just seem to have 500+ "critical memory errors" per day. I would be glad to provide more details, if someone could assist me with where to look for those details?

[2016-09-29 06:33] hone commented on #8
Yeah, this is the main ember buildpack repo.

On 22/08/16 19:42, Justin Searles wrote:

[2016-09-29 06:48] hone commented on #12
sorry for the delay here. Are you using fastboot or a typical ember app?
If you're using the static buildpack, the number of workers should be
set. The static buildpack sets it to "auto":
https://github.com/heroku/heroku-buildpack-static/blob/master/scripts/config/templates/nginx.conf.erb.
This means nginx will try to autodetect the appropriate amount which MAY
but culprit, but I believe highly un

[2016-09-29 12:04] RobbieTheWagner commented on #12
@hone I am using fastboot. Please let me know what info you need from me, so we can resolve this. I had some other people suggest limiting the workers to 4 for fastboot, I believe, so that leads me to believe we may need to do that.

Is this buildpack using fastboot app server or what exactly? It seems like it is just serving from fastboot directly, and not using fastboot app server since this is

[2016-09-29 18:20] hone commented on #12
We are using fastboot-app-server but through `fastboot-cli`:
https://github.com/heroku/heroku-buildpack-ember-cli-deploy/commit/137c9c4d9ccfe8047ed6463a907ecd94ef6168c8.
fastboot-app-server bare requires you to roll your own server.js to run
it. You can of course do all of this yourself if you need be on heroku,
by just overriding the web process in your Procfile.

fastboot app server is using exp

[2016-09-29 18:24] RobbieTheWagner commented on #12
@hone I had previously set `NGINX_WORKERS = 4`. It seems that I got that wrong, and it is `WORKER_COUNT` according to your suggestion. We should probably list this tip somewhere, so people know to tweak it.

[2016-09-29 18:31] rwwagner90 commented on #12
I don't seem to be able to deploy anymore. I keep getting:

[code]

[2016-09-29 18:51] hone commented on #12
https://github.com/heroku/heroku-buildpack-emberjs/blob/master/buildpack/mrblib/buildpack/commands/detect.rb#L14-L22

This is the code that does the detect, it just looks for `ember-cli` in
your `package.json`.

The WORKER_COUNT is a good idea. It'd probably be nice if it was
standardized across the two somehow, unless I start fronting the
fastboot stuff with nginx.

For more memory stuff, this tr

[2016-09-30 19:38] sgasser opened #14 "Enable compression (gzip)"
Hi,

compression (gzip) is not enabled.

Could we enable it?

[2016-09-30 20:03] hone commented on #14
Are you using fastboot?

On 30/09/16 14:38, Stefan Gasser wrote:

[2016-09-30 20:08] sgasser commented on #14
Yes

[2016-09-30 20:20] hone commented on #14
You'll need to setup gzip on your own. Ideally, I'd have a addon that
would automate it but I'm not there yet. I've setup gzip support on the
fastboot website.

You can use the `ember-cli-deploy-gzip` addon.
https://github.com/ember-fastboot/fastboot-website/blob/master/package.json#L33

There's also some config you'll need to do:
https://github.com/ember-fastboot/fastboot-website/blob/master/conf

[2016-09-30 23:13] sgasser commented on #14
Thx @hone

gzip working with your hack.

Should gzip be the default in this buildpack?

[2016-10-01 18:55] sgasser commented on #8
Any news? Coming soon? How we could hep?

[2016-10-03 18:06] hone commented on #8
I haven't had time to really tackle this, but the thought in my head
would be figuring out how to front a fastboot app with the static
buildpack and get the nginx upstream working nicely.

On 01/10/16 13:55, Stefan Gasser wrote:

[2016-10-03 18:10] hone commented on #14
np. glad you got it working. I'm not sure how to make it default for
fastboot since I don't really want to be modifying your `package.json`.
The best path would probably be figuring out a way to front fastboot
apps with the static buildpack then nginx can handle it.

On 30/09/16 18:13, Stefan Gasser wrote:

[2016-10-06 21:35] sgasser commented on #12
Same problem.
@rwwagner90 did you solve the problem?

Error R14 (Memory quota exceeded):

[code]

[2016-10-06 22:10] hone commented on #12
I definitely recommend setting the Worker to 1 and see if you're still
getting R14 errors. V8 is not known to conserve memory. It'd be nice to
know if there are too many processes being spawned or if fastboot is
just that memory intensive.

This GC tuning might help as well,
https://blog.heroku.com/node-habits-2016#7-avoid-garbage. It will kill
the node process if it exceeds instead of swapping an

[2016-10-09 17:15] alidcastano opened #15 "remote: ArgumentError: invalid json"
I'm getting the following error:

[code]

I'm using:

[code]

Not sure what is causing it as, as `ember build` and `ember fastboot --serve-assets` and `ember deploy production` both work locally.

[2016-10-09 17:25] alidcast commented on #15
^ I had accidently posted the issue meant for ember-cli-deploy (which I resorted to using), as it runs buildpack succesfully, but returns an [error running](https://github.com/heroku/heroku-buildpack-ember-cli-deploy/issues/6) `ember deploy production`.

[2016-10-10 17:32] sgasser commented on #12
How can I set the Worker to 1?

No changes with
`heroku config:set WORKER_COUNT=1`

[2016-10-10 18:20] RobbieTheWagner commented on #12
@sgasser I set WORKER_COUNT to 4 and it seems to have helped me.

[2016-11-07 15:43] jholt1 opened #16 "Proxying"
Was wondering what would be the best solution to have a proxy similar to the https://github.com/tonycoco/heroku-buildpack-ember-cli#api-proxy

Looking to use this buildpack as I want to use fastboot

Thanks 😁

[2016-11-07 15:45] Dhaulagiri commented on #16
@jholt1 the underlying static buildpack has [support for proxying](https://github.com/heroku/heroku-buildpack-static#proxy-backends).  Will that do what you are looking for?

[2016-11-08 15:24] jholt1 commented on #16
From this and https://github.com/heroku/heroku-buildpack-static/search?utf8=%E2%9C%93&q=proxies&type=Code

It seems that you can only add proxies if you are not using fastboot

[2016-11-21 10:54] mmahalwy opened #17 "Usage with pipeline"
I am noticing that when I 'Promote App' from staging to production in Heroku's pipeline workflow, it uses the previous env variables. I guess it's because they are bundled into the assets, hence why

[2016-12-12 20:28] anthonycollini opened #18 "Hooks"
I can't seem to find any concept of hooks (before build hook, etc.) in this repo. The old ember buildpack repo contained them.

Any thoughts?

https://github.com/tonycoco/heroku-buildpack-ember-cli.git

[2016-12-14 23:53] hone commented on #17
That's correct. This isn't unique to ember, but any asset pipeline whether that's the rails asset pipeline or webpack. The JS bundle contains the env vars after build, which won't get updated on promote. There are some hacks that do some runtime replacement that work around this issue like [heroku-js-runtime-env](https://github.com/mars/heroku-js-runtime-env) which you might want to check out.

[2016-12-14 23:55] hone commented on #15
Can you paste the entire build output?

[2016-12-19 10:47] johnunclesam opened #19 ""yarn.lock" file and I get "bower not found"."
If I push my project with "yarn.lock" file I got this error: `bower not found`. Why?

[2016-12-19 15:16] Dhaulagiri commented on #19
@johnunclesam are you able to share a more complete build output?

[2016-12-19 21:16] hone commented on #19
yarn support in the [node buildpack](https://github.com/heroku/heroku-buildpack-nodejs), which we use here to power the `npm` dependency story. we'll have to take a look into if this is a broader issue.

[2016-12-19 21:48] Dhaulagiri commented on #19
@johnunclesam I tried this out on one of our apps using yarn and this buildpack and didn't get any bower-related errors.  Can you provide a little more detail on your setup and we can try to dig in some more?

[2016-12-22 21:29] ghost opened #20 "Enable compression (gzip) without fastboot"
In this issue (https://github.com/heroku/heroku-buildpack-emberjs/issues/14) they spoke about gzip when using Fastboot.

And if not?

[2016-12-22 21:30] ghost commented on #14
And if I'm not using fastboot?

[2016-12-22 21:32] Dhaulagiri commented on #20
@johnunclesam it should enabled by default [via the static buildpack](https://github.com/heroku/heroku-buildpack-static#features) which is used by this buildpack.  Are you seeing differently?

[2016-12-22 21:40] ghost commented on #20
Yes, in my Chrome I see total 900KB instead of 240KB (which is the size Heroku tells me when I deploy). And in "Content-Encoding" I see nothing (in "Network" Tab).

[2016-12-22 22:40] Dhaulagiri commented on #20
@johnunclesam I'm not able to reproduce this when I create a [fresh app](https://ember-buildpack-non-fast.herokuapp.com/) from [this Heroku button](https://github.com/heroku/ember-js-getting-started) that uses this buildpack.  Do you have a custom static.json defined or any other config that might overriding the default behavior?

[2016-12-22 22:45] ghost commented on #20
Dear @Dhaulagiri 3 minutes ago I tried with `https://example.herokuapp.com` and everything ok. But If I try with `http://example.com` which is a CNAME to that, it is not working in my Chrome. Strange affair.

If I test with http://gzipwtf.com/ the same `http://example.com` it **works**. Chrome no. Why this?

Just HTTPS problem?

I'm using Namecheap for domain and CNAME.

I have a free dyno and not

[2017-01-20 16:53] woosungchu opened #21 "Failed to detect set buildpack - non-root build"
While I tried to add buildpack to my heroku project, I stuck on 'Falied to detect set buildpack' error.
After few googling, I guess it happened because package.json is not in the root directory.
Then I tried this

    "postinstall": "cd mindmap-web && ember build"

but failed

My app is divided front-end and back-end part with two directory in root.

    backend/
        python-app/
        config

[2017-01-24 04:59] woosungchu commented on #21
remote: -----> Failed to detect set buildpack https://codon-buildpacks.s3.amazon
aws.com/buildpacks/heroku/emberjs.tgz
remote: More info: https://devcenter.heroku.com/articles/buildpacks#detection-fa
ilure

Though I added package.json file to root, it doesn't work

[2017-01-31 16:09] lancedikson opened #22 "Feature request: changeable env param"
Hey, what about make it possible to change `--production` to any other thing? For instance, I'd like to use `--staging`.

[2017-02-13 17:25] simonc commented on #21
Hello. We're facing the same issue with a standard EmberJs app. The `detect` step is failing without providing any reason.

I forked the buildpack and added some debug and I can attest the `package.json` file is present and does contain the right thing.

[2017-02-13 17:34] Dhaulagiri commented on #19
@johnunclesam this should be working, so I'm going to close this. Feel free to re-open if you have any additional detail.

[2017-02-13 17:34] #19 closed

[2017-02-14 05:16] woosungchu commented on #21
@simonc  Thank you for reply.
I have tested whether heroku detect ember app properly or not, but it still doesn't work.
Does ' I can attest the package.json file is present' mean that you fixed it but not merged yet?

[2017-02-14 21:17] simonc commented on #21
@woosungchu No. Sorry my message wasn't clear. My app "does contain the package.json" when the buildpack is called but it is not detected. Or something else fails but there is no details about what's going wrong.

I have another app that deploys correctly on the dyno so I will investigate why the other app doesn't tomorrow and keep you posted if I find something :)

[2017-02-14 21:24] Dhaulagiri commented on #21
@simonc can you see if you have any duplicate dependencies in the package.json for the app that doesn't work?

[2017-02-15 11:27] simonc commented on #21
@Dhaulagiri OMG you're right! `"ember-bootstrap"` was appearing twice and removing the duplication made the detection work 😮

I don't know what part of the detection fails because of it but it's all but explicit. Do you think there's a way to print an error message telling the user what's wrong? ☺️

[2017-02-15 13:17] Dhaulagiri commented on #21
@simonc that's good to hear.  I know of at least one other person who was having the same issue.  I'll see if we can find some time to smooth this out.

[2017-02-15 15:22] woosungchu commented on #21
In my case unfortunately, there is no duplicate dependencies.. :disappointed:

[2017-02-18 14:42] acorncom commented on #22
Believe this is close to a duplicate of https://github.com/heroku/heroku-buildpack-ember-cli-deploy/issues/3

[2017-02-21 00:27] hone opened #23 "Ember.js 2.11 does not use `bower`"
Don't invoke `bower` on ember `2.11+`

[2017-02-21 01:08] hone commented on #23
`bower` is no-op, so not a big deal and many addons and still depend on it.

[2017-02-21 01:08] #23 closed

[2017-02-21 19:57] Macmee commented on #18
the old pack allowed you to provide a custom NGINX configuration which is a dealbreaker for me.

[2017-03-02 09:40] dephora opened #24 "ENOENT No bower.json present"
With a freshly created Ember 2.11 app, when trying `git push heroku master`(with no changes made to the app) I'm receiving ` ENOENT No bower.json present Error running: bower --allow-root install 2>&1` ...

I've tried the following:

- Uninstalled and reinstalled npm, bower, heroku
- Added a global .bowerrc with `{ "allow_root": true }`
- Push from both bash and zsh
- Given full permissions on bow

[2017-03-06 11:56] bartocc opened #25 "Support for HTTP basic auth"
https://github.com/tonycoco/heroku-buildpack-ember-cli used to provide a way to configure http basic auth.

heroku-buildpack-emberjs is based upon https://github.com/heroku/heroku-buildpack-static but this buildpack does not provide, yet, a way to configure http basic auth. There is a PR ready though : https://github.com/heroku/heroku-buildpack-static/pull/45.

Is there a way to configure http bas

[2017-03-08 13:56] lancedikson commented on #22
@acorncom, yep, but no moves in that issue ¯\_(ツ)_/¯

[2017-03-08 15:54] Dhaulagiri commented on #22
I think we can probably close this and try to ship #5

[2017-03-08 16:04] lancedikson commented on #22
Great! I've tested the fork made for that PR. It works for me.

[2017-03-08 16:07] #22 closed

[2017-03-13 20:52] GabKlein commented on #9
It would be very useful to be able to disabled ember-cli-deploy

[2017-03-14 12:57] fredguth opened #26 "Slug size"
heroku-buildpack-emberjs generates a slug that is too big.  This didn't happen with https://github.com/tonycoco/heroku-buildpack-ember-cli, which I used before.

Here is what happens when I try to use this buildpack:
[code]

This is what happens when I use the "depracated?" https://github.com/tonycoco/heroku-buildpack-ember-cli:

[code]

[2017-03-14 17:08] drauschenbach opened #27 "Cannot fetch static assets from API server via https with self-signed cert"
When a static API resource is attempted to be loaded from the API server, the following error occurs:

[code]

Trying to set the NODE_TLS_REJECT_UNAUTHORIZED=0 env var has no effect.

[2017-03-17 01:03] ghost commented on #24
Same problem without bower.json, no longer used now.

[2017-03-18 07:18] hone commented on #25
@bartocc there currently isn't, but I think the feature that would come out of this would be overriding buildpacks. I'd have to think on what a good design is there.

[2017-03-18 07:21] hone commented on #21
@woosungchu we don't support mono-repo style deployment in this buildpack. You might want to check out [this buildpack](https://github.com/lstoll/heroku-buildpack-monorepo) which tries to solve the monorepo on Heroku. I have not tried it myself, so I can't make any promises.

[2017-03-18 07:21] #21 closed

[2017-03-18 07:22] hone commented on #17
I'm closing this for now, since it's a platform level issue that I'll be pushing internally to solve. Thank you for raising it and sorry I don't have a better answer. :(

[2017-03-18 07:22] #17 closed

[2017-03-18 07:24] hone commented on #12
Talking with the ember team, it seems there are still a few memory leaks potentially in fastboot itself. Your best bet is to work with them to try to help track them down before 1.0. What might be helpful is grabbing heap dumps off your dynos. The newly announced [heroku exec](https://devcenter.heroku.com/articles/heroku-exec) should help there! /cc @tomdale

[2017-03-18 07:25] hone commented on #26
That's a big difference. The only thing I can think of would be things in `node_modules` or installed by `bower` that aren't cleaned up. How big are those dirs locally?

[2017-03-18 07:27] hone commented on #24
Thanks, I was under the impression this wasn't something I had to fix. I'll look at only running `bower` if `bower.json` is detected. /cc @rondale_sc

[2017-03-18 07:28] hone commented on #20
https should not have an affect. Can you provide a repro case for us to dig into this more?

[2017-03-18 07:29] hone commented on #16
@jholt1 that's correct, we currently only support proxying when not using fastboot. I'm still investigating how to run fastboot behind nginx effectively.

[2017-03-19 07:20] #15 closed

[2017-03-20 01:56] fredguth commented on #26
node_modules 866M
bower_components 144M

[2017-03-24 00:54] woosungchu opened #28 "public folder failed to be deployed together"
I set image asset into 'public' folder
![image](https://cloud.githubusercontent.com/assets/13829340/24276126/d2e8e5e8-1077-11e7-911f-ac7390eddc13.png)

if I..
[code]

Local :
![image](https://cloud.githubusercontent.com/assets/13829340/24276082/7c24641c-1077-11e7-9404-5722f02a7b19.png)

Heroku:
![image](https://cloud.githubusercontent.com/assets/13829340/24276091/995d4c74-1077-11e7-9207-b4de5d2256

[2017-03-24 00:56] woosungchu commented on #28
I have tried to find whether this similar issue happend before and I found issue about fingerprint configuration . But this case seem different with [that](http://stackoverflow.com/questions/25676548/ember-cli-heroku-deployment-cannot-access-public-folder)

[2017-03-24 12:25] Dhaulagiri commented on #28
@woosungchu what if you move the images folder out of `assets` and into just the `public` folder?

[2017-03-28 01:23] woosungchu commented on #28
@Dhaulagiri  Same results...

![2](https://cloud.githubusercontent.com/assets/13829340/24384660/833f5884-13a0-11e7-8768-e5caa4586971.PNG)

[2017-03-31 08:30] woosungchu commented on #28
It works in AWS cloudfront but not in heroku so far

[2017-04-07 11:12] oskarrough opened #29 "Build fails missing node-sass"
Hi, if an app uses `node-sass` and https://github.com/n1ru4l/ember-cli-css-preprocess it fails to build on heroku. I assume it's because the `node-sass` dependency doesn't get installed. I have it in `devDependencies`.

What to do? Any help would appreciated, thank you!

[code]

[2017-04-07 11:24] Dhaulagiri commented on #29
@oskarrough are you using yarn?

[2017-04-07 11:24] oskarrough commented on #29
@Dhaulagiri yes?

[2017-04-07 11:29] Dhaulagiri commented on #29
This is likely an issue upstream in either the node buildpack or yarn itself from our experience.  We had a similar problem that can be solved by either setting the `NODE_MODULES_CACHE` config var to `false` or adding a postinstall script `postinstall: "npm rebuild"` to your package.json.

[2017-04-07 11:38] oskarrough commented on #29
Thank you, probably. As it was working before.

So I tried replacing `ember-cli-css-preprocess` + `node-sass` with `ember-cli-sass` (which also uses `node-sass`) + `ember-cli-postcss` and now it builds on Heroku. FastBoot and all. Happy camper!

[2017-04-07 11:39] #29 closed

[2017-04-07 13:46] oskarrough commented on #25
Is there a workaround for now?

[2017-04-07 19:21] hone commented on #29
@oskarrough sweet. I think this is related to [this issue](https://github.com/yarnpkg/yarn/issues/1981).

[2017-04-08 18:27] oskarrough commented on #14
Hi, how about WITH fastboot but without ember-cli-deploy?

[2017-04-10 19:34] hone commented on #14
Sorry, but you'll have to roll your own gzip compression in node until I
can figure a way to sit fastboot behind nginx.

On 08/04/17 13:27, Oskar wrote:

[2017-04-26 20:24] jmorrell opened #30 "Respect hard-coded buildpacks"
If I want to test the Ember buildpack with a new version of the Node buildpack, then a reasonable assumption would be that I could do that by:

[code]

However we currently always point to the production version, which gives me no way of doing that without modifying the buildpack directly and deploying two forked buildpacks:

https://github.com/heroku/heroku-buildpack-emberjs/blob/master/buildpack

[2017-04-26 20:26] jmorrell commented on #30
cc @hone

I'd be happy to work on this, but I'd probably need some hand-holding with the ruby 😨

[2017-05-03 14:14] dbinetti opened #32 "ember 2.13 support (no bower)"
I'm sure I'm missing something since I know that Heroku itself is using both Ember and Yarn, but in any case I just upgraded to ember-cli 2.13, dropping Bower as a requirement.  However, when I deploy I get this error (relevant bits only):

[code]

And then it fails.  Using SemaphoreCI, FWIW. Is there a config or something I forgot to flip?

Thanks

[2017-05-03 14:17] Dhaulagiri commented on #32
@dbinetti this is a known issue (https://github.com/heroku/heroku-buildpack-emberjs/issues/24) that, until fixed, can be worked around by leaving an empty bower.json in your project so that it will still deploy

[2017-05-03 14:18] dbinetti commented on #32
Many thanks -- apparently I was searching for the wrong error.  Thanks

[2017-05-03 14:18] #32 closed

[2017-05-05 16:06] mpugach opened #33 "The Broccoli Plugin: [UglifyWriter] failed"
Hi

I have an issue deploying an application

[code]

here is the `package.json`

[code]

and yarn.lock attached
[yarn.lock.zip](https://github.com/heroku/heroku-buildpack-emberjs/files/979662/yarn.lock.zip)

How to debug and fix it?

[2017-05-05 19:21] Dhaulagiri commented on #33
does `ember b -p` succeed locally?

[2017-05-06 05:11] mpugach commented on #33
No, but thank you for `-p` now I can debug it locally :)

[2017-05-06 17:37] Dhaulagiri commented on #33
no problem, i'm going to close this as it is likely not an issue with this buildpack but feel free to re-open or paste the eventual solution here in case it might be helpful to others

[2017-05-06 17:37] #33 closed

[2017-05-08 07:29] mpugach commented on #33
fixed

The issue appeared because I removed `ie 9` from `config/targets.js`

[2017-05-18 21:50] hone commented on #24
This should is fixed by [#8](https://github.com/heroku/heroku-buildpack-ember-cli-deploy/pull/8).

[2017-05-18 21:50] #24 closed

[2017-05-18 21:55] hone commented on #26
@fredguth can you try again, the slug size recently got [bumped to 500mb](https://devcenter.heroku.com/articles/limits#slug-size). That being said, I'd still like to find a way to remove unnecessary `node_modules`. /cc @rwjblue we should talk about what we can safely remove for fastboot.

[2017-05-24 20:01] Macmee opened #34 "problem building on heroku: remote: FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
[code]

[2017-05-24 21:27] jmorrell commented on #34
👋 Hi there

Could you file an issue at https://help.heroku.com/? We'll have more context and be better able to hunt down what's going on. As you might imagine this log gives us very little to go on other than "something failed for someone one time", but it could be any number of things.

In general things that I would think about when debugging this:

- Did this suddenly start happening? If so, wh

[2017-05-24 21:27] #34 closed

[2017-05-31 16:20] jakeleboeuf commented on #8
What's the status here?

[2017-05-31 22:55] kmsnell opened #36 "Ember-Cli app failing to build"
I am trying to deploy my app to Heroku using this buildpack. It has been working successfully for a while until about 2 weeks ago. I am getting the follow error output when attempting to deploy using "git push heroku master".

...
remote: jquery-ui#1.11.4 bower_components/jquery-ui
remote: └── jquery#3.2.1
remote: -----> Caching bower cache
remote: -----> Installing ember-cli
remote: /tmp/build_50

[2017-06-05 22:25] fredguth commented on #26
@hone: worked! :tada:

Slug size is still considerably bigger then using https://github.com/tonycoco/heroku-buildpack-ember-cli, but it works.

[2017-06-05 22:25] #26 closed

[2017-06-05 22:28] hone opened #37 "clean slug size for non-fastboot apps"
See #26, but we should be able to remove `node_modules` and `bower_components` for non fastboot apps to trim down the slug size. /cc @Dhaulagiri

[2017-06-07 00:29] Matt-Jensen commented on #36
**TLDR;** change your node engine in your package.json to the version of node that’s working for you locally.

Experiencing this as well with ember-cli@2.13.2 and the issue turned out the be how engines.node is getting defined by default in the newer ember-cli releases like this:

[code]

That was causing Heroku to download v8.0.0 of node which is likely unstable and ended up causing dependencies,

[2017-06-12 11:58] mrispoli24 opened #38 "Buildpack succeeding but throwing application error"
Hello I built an ember app locally with fastboot and then tried to deploy to Heroku using the documentation.

The build succeeds but the app will not serve:

![image](https://user-images.githubusercontent.com/5890462/27032829-b055492a-4f44-11e7-9682-2ae99d77a8de.png)

I'm not sure what is going on there doesn't seem to be much useful in the logs on the build side. There are s few warnings on the b

[2017-06-12 12:56] Dhaulagiri commented on #38
I noticed something similar last week but didn't have time to dig in.  I don't think the issue is related to this buildpack though since I get the same error locally if I run `ember serve --environment production`.  Can you confirm you see the same thing?

[2017-06-12 14:01] mrispoli24 commented on #38
@Dhaulagiri yep I see the same thing serving production locally:

[code]

[2017-06-12 14:16] mrispoli24 commented on #38
One thing I noticed is that I didn't install yarn for my app, I didn't think that would be necessary for this though.

[2017-06-12 15:15] Dhaulagiri commented on #38
I'm going to close this since this doesn't appear to be a buildpack issue, but if you learn otherwise feel free to re-open.

I haven't been keeping up with fastboot lately so I'm not sure where this error is coming from, but we may want to raise an issue over there to see what might be causing this.

[2017-06-12 15:15] #38 closed

[2017-06-12 15:18] mrispoli24 commented on #38
Thanks @Dhaulagiri for pointing me in the right direction. I'll have some time to dig into it more later too to see if I can find the issue.

[2017-06-13 05:58] oskarrough commented on #38
Hi, it looks like you've run into this https://github.com/ember-fastboot/ember-cli-fastboot/issues/424.

Not sure why but you can hopefully make it work by updating `ember-cli-build.js` like this:

[code]

[2017-06-14 16:58] artinboghosian opened #39 "Content-Type for .json files is application/octet-stream"
We have an Ember app that is being displaying in an Android app WebView. To register the Android app as a handler for our urls we need to add a public/.well-known/assetlinks.json file to our Ember app that Google can then verify against. The problem is that when we deploy the Ember app and hit this path the response header contains a content-type of application/octet-stream instead of application/

[2017-06-14 17:43] artinboghosian commented on #39
Solution was to add static.json file and set content-type in headers:

    {
      "headers": {
        "/.well-known/assetlinks.json": {
          "Content-Type": "application/json"
        }
      }
    }

[2017-06-14 17:43] #39 closed

[2017-06-14 21:01] hone commented on #39
@artinboghosian thanks for filing this. This should definitely be recognized by default. I've gone ahead and [merged a PR](https://github.com/heroku/heroku-buildpack-static/pull/78) on the static buildpack for this. Can you try with these changes and see if it fixes your problem?

[2017-06-19 04:11] Blackening999 commented on #18
How can I install compass with this build pack?

[2017-06-19 14:09] Dhaulagiri commented on #36
I would concur based on similar reports that this is likely a Node 8 issue and would also recommend using the most recent LTS.  If that doesn't fix this please re-open with any additional details that may be helpful.

[2017-06-19 14:09] #36 closed

[2017-07-11 22:35] dbinetti commented on #17
Any update on this @hone?

[2017-07-17 20:45] hone commented on #17
@ike-delorenzo anything you can say here? This is the asset rebuild on promote issue we've been talking about with pipelines.

[2017-07-18 16:11] dbinetti opened #40 "React warning in console"
Is this related to the buildpack?  Can it be safely ignored?

[code]
https://github.com/facebook/react/issues/6479

[2017-07-18 17:30] hone commented on #40
@dbinetti hi, I've never seen this error message before. Are you using the ember.js buildpack to build react?

[2017-07-18 17:45] dbinetti commented on #40
no, it's all ember.  must be a library I'm using.  I'll try to track down the source.  Sorry for the bother.

[2017-07-18 17:45] #40 closed

[2017-07-18 17:47] hone commented on #40
no worries! good luck.

[2017-08-03 06:08] ivanhueso opened #41 "How to gzip and minify Fastboot enabled?"
How can I do to gzip and minify the .js files?

[2017-08-04 03:31] ivanhueso commented on #14
How can I gzip with Fastboot enabled? I follow @hone steps but i don't understand the third one

    Also, in server you need to write some code to serve it.
    https://github.com/ember-fastboot/fastboot-website/blob/master/fastboot-server.js#L38

What do you mean with this @hone . Where can I change this on my app??

Best,
Ivan Hueso

[2017-08-08 02:56] Subtletree opened #42 "No cache control header set on index.html"
Deploying with this buildpack on dokku, my index.html is being cached due to no cache-control header.

Is this something the buildpack should be doing automatically or is there some config for this?

Cheers 🙂

[2017-08-08 19:21] hone commented on #42
Weird. By design, the static buildpack isn't setting any default caching headers, but it looks like dokku is?

[2017-08-09 22:12] Subtletree commented on #42
Sorry I meant the index.html **does not** have a cache-control header so it is being cached by default.

Thanks for pointing me to the static buildpack to configure this.

For future (non fastboot) readers: https://github.com/heroku/heroku-buildpack-static#custom-headers

[2017-08-09 22:12] #42 closed

[2017-08-11 18:06] zeppelin commented on #14
@ivanhueso @hone There is a much simpler hack to get gzip working.

- The buildpack [installs `fastboot-cli`](https://github.com/heroku/heroku-buildpack-ember-cli-deploy/blob/master/buildpack/mrblib/buildpack/commands/compile.rb#L61-L64) to run the app *if the `ember-fastboot` command is not available*
- `fastboot-cli` is running `fastboot-app-server`, which [has gzip support](https://github.com/e

[2017-09-13 11:05] robwebdev opened #43 "Error waiting for process to terminate: No child processes"
When deploying an Heroku app using this buildpack I get an error in the logs `Error waiting for process to terminate: No child processes`. Everything works as expected but the error is noise that I could do without when monitoring the application.

[code]

After a bit of digging I found [this page](https://devcenter.heroku.com/articles/dynos#graceful-shutdown-with-sigterm) that suggests that the `

[2017-10-01 22:47] rwwagner90 opened #44 "How to make this work with fastboot-app-server?"
I tried manually configuring my procfile to run it, which worked, but then it could not find any of the assets and the app was broken. I tried running with this:

[code]

[2017-10-13 19:36] dbinetti opened #45 "compatible with ember 2.16.2"
Just tried to upgrade to ember 2.16.2 and got this:
[code]
Is it a build pack issue?

[2017-10-13 19:49] dbinetti commented on #45
Answer:  no, no it is not.

https://github.com/kybishop/ember-popper/issues/46

[2017-10-13 19:49] #45 closed

[2017-12-12 04:09] RobbieTheWagner commented on #44
Figured this out. Would be good to allow more customization with the build pack itself though.

[2017-12-12 04:09] #44 closed

[2017-12-17 20:40] openhouse commented on #44
Hi @rwwagner90, I'm looking at adding custom middleware with fastboot-app-server.  Could you give a quick outline of your solution?  Thank you!

[2017-12-18 13:50] RobbieTheWagner commented on #44
@openhouse I just added a vanilla fastboot-app-server setup in server.js and told my Procfile to use that. You can see my code at https://github.com/shipshapecode/shipshape.io

[2018-01-16 23:13] dbinetti commented on #17
Just wondering if this wound up going anywhere, @hone @ike-delorenzo ?

[2018-02-16 11:51] oskarrough commented on #41
Haven't figured it out yet. Similar discussions in

https://github.com/heroku/heroku-buildpack-emberjs/issues/14
https://github.com/heroku/heroku-buildpack-emberjs/issues/20

Edit: try to force https and see if that also works for you https://github.com/heroku/heroku-buildpack-emberjs/issues/14#issuecomment-366220941

[2018-02-16 12:17] oskarrough commented on #14
Forcing HTTPS was the change that made gzip work for me. Like this:

[code]

[2018-02-20 10:23] benkingcode commented on #17
Does this mean that Ember apps can't be used with Pipelines at all? Seems like a big oversight 👀

[2018-02-25 02:44] sivakumar-kailasam opened #46 "Feedback page is 404"
https://help.heroku.com/new/single-page-apps is missing

[2018-02-26 14:20] javve commented on #37
Any updates here? We recently got over the 500 mb limit and can no longer deploy our app.

[2018-02-27 01:37] beerlington opened #47 "Deploys are failing - Unable to download yarn: 404"
I'm getting an error when trying to deploy now:

[code]
I took me a while to track down the issue on a related repo - https://github.com/heroku/heroku-buildpack-nodejs/issues/523

... with the fix being what was changed in https://github.com/artsy/metaphysics/pull/945/files

I figured I'd post this here since other people might run into this issue and not know where to look if they're only using t

[2018-03-01 00:12] dbinetti commented on #17
That's correct, @dbbk   It's a minor irritation, but still would be great if @hone or @ike-delorenzo or someone could let us know if it's solvable.

[2018-03-01 05:55] dbinetti commented on #17
So if anyone has the bash skills, this is what @mars is doing.  He's running this in a .profile.d directory; I assume you could do something similar directly in a .profile file.  But basically the idea is to allow the bash script to replace the variables within the slug.

I'm not nearly skilled enough to give this a try, but if it inspires anyone great...

[code]

[2018-03-01 13:14] Dhaulagiri commented on #17
To reiterate what @hone said, this is a fundamental limitation in how ember apps are built.  That said, if you don't need fastboot there is [another ember buildpack](https://github.com/heroku/heroku-buildpack-ember-cli) that we use which implements a hacky solution to this problem which has worked for us for the past 2+ years without major issue.

It works by rewriting the config into your app whe

[2018-03-02 04:28] dbinetti commented on #17
glorious!  wow, there the whole time and didn't see it.  WFM

On Thu, Mar 1, 2018 at 5:14 AM, Brian Runnells <notifications@github.com>
wrote:

[2018-03-07 22:18] Loschcode opened #49 "Deployment systematically fails with fresh ember project on Dokku"
I'm trying to deploy my project for 2 days with **Dokku on DigitalOcean / Ubuntu** and tried all possible combinations I could think of. To make it work with this buildpack.

I ended up removing the entire project, I then generated a new one with `ember new` and did not alter the code. When I push and deploy, same error :

[code]

I can't find an explanation for this  **setuidgid: usage: setuidgid

[2018-03-08 10:17] Loschcode commented on #49
After further investigation  I made it work through a DOKKU_SCALE file by increasing the numbers such as

[code]

I still have to investigate the exact number which should be written there, but I suppose we need multiple parallel instances and that's the reason it wouldn't work before.

[2018-03-08 10:17] #49 closed

[2018-03-14 16:01] FutoRicky commented on #8
Anyone found a solution?

[2018-04-06 14:29] stephanebruckert commented on #8
Adding the static file does what I need https://stackoverflow.com/questions/47795457/ember-force-https-with-heroku

[2018-04-22 18:51] musaffa commented on #8
Need this feature for Fastboot apps. This is such an important feature! Any update?

[2018-04-22 19:19] oskarrough commented on #8
@musaffa, try @stephanebruckert advice above. What worked for was adding a Procfile and this snippet https://github.com/oskarrough/ember-fastboot-now-deployment-example/commit/3d2bdde8222522d2252023c685bba41e78d06001

[2018-04-22 20:32] musaffa commented on #8
`static.json` is only for static buildpack.

@oskarrough I tried your way in Heroku but I get this error: `Cannot find module 'fastboot-app-server'`

[2018-04-22 20:42] oskarrough commented on #8
Try to check how it is set up here https://github.com/oskarrough/ember-fastboot-now-deployment-example/tree/heroku. Basic idea is…

1. [`Procfile`](https://github.com/oskarrough/ember-fastboot-now-deployment-example/blob/heroku/Procfile) decides which command is used to start fastboot on Heroku. I run an NPM script called [`start-fastboot`](https://github.com/oskarrough/ember-fastboot-now-deployme

[2018-04-22 20:58] musaffa commented on #8
I did exactly that. I've added a Procfile which points to the npm script. I've also added `fastboot-app-server` as a dependency in `package.json`.

Have you tried your app in Heroku?

[2018-04-23 08:28] oskarrough commented on #8
@musaffa hmm… it used to work, as can be seen here: https://serene-lake-99852.herokuapp.com/. But I just attempted to deploy the same repo again and now I get the same error as you. Not sure what's up.

[2018-04-23 10:03] musaffa commented on #8
I've ssh-ed into my Heroku app repository and I cannot see `fastboot-app-server` in the node modules folder.

[2018-04-23 10:05] musaffa commented on #8
I've ssh-ed into my Heroku app repository and I cannot see fastboot-app-server in the node modules folder. For some reason, it doesn't install `fastboot-app-server` whether it is in the devDependencies or dependencies.

[2018-04-23 11:39] musaffa commented on #8
I've solved this problem. There's no need to add `fastboot-app-server` as a dependency. `heroku-buildpack-emberjs` installs `fastboot-cli` which has a dependency on `fastboot-app-server`. This `fastboot-app-server` module is hoisted to root dependencies. `require('fastboot-app-server')` will just work. Now the application is not crashing. Gzipping and Forcing HTTPs are also working.

But If you re

[2018-04-23 13:59] musaffa commented on #8
I've ended up forking fastboot-cli where I've added [gzip and forced HTTPs support](https://github.com/musaffa/fastboot-cli/blob/master/bin/ember-fastboot#L39-L49) in its fastboot-app-server configuration. Add the forked `fastboot-cli` as a dependency by
[code]
`heroku-buildpack-emberjs` will install this forked `fastboot-cli` instead of the one in the npm repository. Neither `Procfile` nor `fastb

[2018-04-29 03:59] dja opened #50 "Deploy sometimes builds as development environment"
On a few occasions now, when deploying from Github -> Heroku app, it builds as if it's in the development environment, with localhost-type variables. The only solution I've found to fixing it is to completely delete the app and redeploy to a brand new instance.

[2018-04-30 00:05] Dhaulagiri commented on #50
@dja could you be more specific? What is making you think it's building for development and what side effects are you noticing in your app because of that?

[2018-04-30 00:14] dja commented on #50
I see in the build logs that it sets the NODE_ENV properly to 'production', but when visiting the app, it shows development env variables (in the `<head>` of the index) and tries to start livereload

[2018-04-30 21:08] dja commented on #50
Turns out it's an issue specifically to do with the listing of included buildpacks. On apps where I have nodejs buildpack listed after the emberjs buildpack, it does not treat the environment as production. If nodejs is listed first, it does.

[2018-04-30 21:08] #50 closed

[2018-05-10 09:17] donaldwasserman commented on #8
@musaffa That works great. Is there a way to upstream that with some sort of configuration option?

[2018-05-11 12:08] musaffa commented on #8
@hone said he is trying to make it work by fronting the fastboot apps with nginx like the static buildpack. That will be a more robust solution.

[2018-06-29 06:29] Dorian commented on #43
Got the same error today when running a rails command inside `heroku run`

[2018-07-08 20:52] afuno opened #51 "remote: /tmp/buildpack1DnQW/bin/detect: line 5: /tmp/buildpack1DnQW/vendor/buildpack: No such file or directory"
I have a small Ember application that I want to deploy to Dokku.

**.buildpacks**:

[code]

During the deployment, I get this error:

[code]

Could you please help me solve this problem?

Identical problem for: https://github.com/heroku/heroku-buildpack-ember-cli-deploy/issues/15

[2018-07-10 19:46] bmfay opened #52 "vendor/buildpack: No such file or directory"
My deploy is failing with the following error:

     /app/tmp/buildpacks/4a224f97f06262bbd678a0d053b49c071e5318ae2caf502d00cb161406d6469e14c25b451d5545f9693070a155b3339089cafa7eed94b6e26f92c72f61cedff6/bin/detect: line 5: /app/tmp/buildpacks/4a224f97f06262bbd678a0d053b49c071e5318ae2caf502d00cb161406d6469e14c25b451d5545f9693070a155b3339089cafa7eed94b6e26f92c72f61cedff6/vendor/buildpack: No such fil

[2018-07-11 18:41] bmfay commented on #52
Was able to resolve this by installing it via heroku CLI.

[2018-07-11 18:41] #52 closed

[2018-07-31 16:10] afuno commented on #51
@jdxcode hello?

[2018-10-27 12:38] musaffa opened #53 "Doesn't support FASTBOOT_DISABLED env variable"
`Ember-cli-fastboot` [supports](https://github.com/ember-fastboot/ember-cli-fastboot#disabling-fastboot-with-ember-serve) an environmental flag to disable Fastboot server like this:
[code]
Since this buildpack uses `fastboot-cli`'s `ember-fastboot` command, we cannot avail this feature. Besides, we use `ember serve` in our development machine to test the features in dev and production environment.

[2018-11-28 17:38] adamhong opened #54 "heroku review app builds fails with ember-cli-mirage 0.4.2 and up"
We're seeing the following issue in trying to build review apps using `ember-cli-mirage` versions 0.4.2 and up:

[code]

everything seems to work fine locally. can only repro this issue on Heroku. any insight would be appreciated

[2018-11-28 17:52] Dhaulagiri commented on #54
@adamhong that's puzzling, do you know if anything specific changed with mirage between 0.4.1 and 0.4.2 that might explain this on that side of things?

[2018-11-28 19:56] adamhong commented on #54
i have a suspicion on what the change might have been thats causing the issue, but I'm not sure.

https://github.com/samselikoff/ember-cli-mirage/compare/v0.4.1...v0.4.2

At this point our best option is to fork and see if we can resolve. Was curious if there is anything specific about the buildpack that might explain. we're also asking the maintainers of `ember-cli-mirage` if they have any ideas

[2018-11-28 19:58] Dhaulagiri commented on #54
Another potential path for working around this might be to try [this buildpack](https://github.com/heroku/heroku-buildpack-ember-cli) which is similar to the one here but is a bit more simple and straightforward to debug on if there are problems.  Hopefully you can figure out what is causing the issue on mirage's side or use this workaround to unblock you.

[2018-11-28 21:09] adamhong commented on #54
@Dhaulagiri ~so i was actually able to repro this locally, from the build log we see the following command for build:~

`ember build --environment production 2>&1`

any idea why `2>&1` gets added? we're not using the `ember-cli-deploy` addon. could that be part of the issue?

Edit: actually the extra `2>&1` does not seem to make a difference

[2018-11-28 21:20] adamhong commented on #54
thanks @Dhaulagiri will checkout that buildpack

[2018-11-29 16:56] adamhong commented on #54
resolved by setting `excludeFilesFromBuild: true` for ember-cli-mirage for production as well. the expectation is that this should already be the case, but this setting is still required.

[2018-11-29 16:56] #54 closed

[2019-01-12 19:54] andyw8 opened #55 "Blank page after deploy"
I realise this repo hasn't been updated for a while, so I'm not sure if it's expected to work with the latest Ember.

My app arrears to deploy without errors, but when I try load in the browser the page is blank. There are no client-side errors in the console.

The full code is available here:
https://github.com/andyw8/ember-playground

It's deployed here:
https://sleepy-meadow-37593.herokuapp.com

[2019-01-15 18:23] Dhaulagiri commented on #55
🤔  that is quite odd. I'm able to reproduce this in a fresh app as well but I also know this buildpack to still be working with some projects we have that use it.  I'm not sure if I will have time to dig in here, but we do also have [this](https://github.com/heroku/heroku-buildpack-ember-cli) buildpack that we use for ember apps which I know is still working without issue.

[2019-01-21 02:16] ijlee2 commented on #55
Hello, I'd like to report experiencing similar issue. I installed a fresh Ember app (v 3.7.1). While the logs show a success message, I only see a blank page instead of Ember's default welcome page.

I will try the other buildpack suggested above, thanks.
[code]

[2019-01-21 15:20] ijlee2 commented on #55
The blank page problem also occurred on a new 3.6, 3.1.4, and 2.18 app. I have an 3.1.4 app built in August 2018 that still works on Heroku.

Update: I found the problem. It's the `ember-welcome-page` addon that doesn't render. Was able to edit `application.hbs` to just say `Hello world` and get it to show up on 3.7 using the buildpack.

[2019-01-22 22:37] Dhaulagiri commented on #55
I wonder if the problem isn't with some change in ember-cli or some other dependency in the build pipeline and not with Ember itself

[2019-01-22 22:38] Dhaulagiri commented on #55
Ahh, seeing @ijlee2's edited comment now that makes more sense! I wonder what has changed with that addon that would cause this 🤔

[2019-01-22 22:50] ijlee2 commented on #55
@Dhaulagiri I asked the Ember core team. The behavior that we don't see `ember-welcome-page` in production is correct. It was to avoid shipping unnecessary resources.

[2019-01-22 22:57] Dhaulagiri commented on #55
🤦‍♂️ oh that makes a lot more sense now.

I'm going to close this issue then.

[2019-01-22 22:57] #55 closed

[2019-05-31 14:07] #46 closed

[2019-06-09 12:01] musaffa commented on #47
I'm experiencing this issue now. It never happened before. #56 Unpinning nodejs buildpack version may probably solve the issue.

cc @hone @Dhaulagiri

[2019-06-10 12:42] Subtletree commented on #47
Just hit this now for the first time too. Pinning yarn as mentioned in the OP fix is working for me in the meantime

[2019-06-10 16:04] fivetanley commented on #47
@Subtletree @musaffa @beerlington I merged #56, can you try again and let me know if it's working for you? Thanks

[2019-06-10 16:06] fivetanley commented on #47
Actually hold up, we need someone to rebuild the toolchain since mrb is a compiled language. I'll update when we've done that.

[2019-06-11 01:01] dja commented on #47
@fivetanley Any updates on this? We're blocked on all development and deployment.

[2019-06-11 05:16] musaffa commented on #47
@dja For a short term solution, pin the exact yarn version you're using in the package.json's engines attribute. Don't use any semver symbol like ^, ~.

[2019-06-18 12:54] whatthewhat commented on #37
This would be a very welcome change 👍
In the meantime what helped us is clearing the build cache: https://help.heroku.com/18PI5RSY/how-do-i-clear-the-build-cache (reduced the slug size from ~500MB to ~120MB)

[2019-07-11 11:55] vladucu commented on #47
@fivetanley @hone would it be possible to get a new release for this?

[2019-07-16 20:50] allthesignals commented on #44
@rwwagner90 did you run into any performance issues running this on Heroku? do you remember how many dynos you had to use?

I tried to use vanilla fastboot app server but kept seeing memory overloads. I know this probably points to a memory leak in my app, but addressing that has been a rabbit hole.

[2019-07-16 23:28] RobbieTheWagner commented on #44
@allthesignals I do remember there occasionally being memory issues, but they were random. Probably a memory leak as well.

[2019-08-13 23:02] fivetanley commented on #47
reopening this... without @hone's help i'm not sure we'll be able to get a new release out. since the buildpack is written in mruby it requires a compilation and upload step which no longer seems to work out of the box with the docker setup.

[2020-02-13 17:38] e-monson opened #60 "Binary package.json when trying to install fastboot dependencies?"
Just enabled fastboot on my app, but I'm running into this weird issue when deploying to Heroku.

[code]

I'm using version 2.2.1 of ember-cli-fastboot. Is there any reason package.json would be binary? Could the buildpack be looking in the wrong directory or something? I can't look around in the file system of this dyno because the build fails. Is there some way I could temporarily disable the in

[2020-07-23 13:48] bartocc commented on #47
I believe we've been hit by this today but because of a new nodejs version `12.18.3`:

[code]

The buildpack still references `nodejs-v98`, despite PR https://github.com/heroku/heroku-buildpack-emberjs/pull/56 beeing merged.

A new build + upload of this buildpack would be great.

[2020-07-23 17:45] danielleadams commented on #47
@bartocc can you clear your build cache? https://help.heroku.com/18PI5RSY/how-do-i-clear-the-build-cache

[2020-07-23 21:51] ohsnapitscolin opened #61 "emberjs.tgz appears to be stale"
Hey! We're running into an issue with https://codon-buildpacks.s3.amazonaws.com/buildpacks/heroku/emberjs.tgz and Node 12.18.3.

When building, we get the following error:
[code]

We raised an issue with [heroku-buildpack-nodejs](https://github.com/heroku/heroku-buildpack-nodejs), but through that process found that we appear to be building with an out of date version (`v98`) of the buildpack.

A

[2020-07-23 21:51] flexyford commented on #47
We're running into the same issue with nodejs 12.18.3. We cleared the build cache but are still fetching `buildpack heroku/nodejs-v98`

[2020-07-24 07:08] bartocc commented on #47
hi @danielleadams , clearing the cache unfortunately did not work.

Here is the line building the URL to download on `buildpack heroku/nodejs-v98`: https://github.com/heroku/heroku-buildpack-nodejs/blob/v98/lib/binaries.sh#L47. And the URL it should build is https://s3pository.heroku.com/node/v12.18.3/node-v12.18.3-linux-x64.tar.gz, which actually exists…

So I do not understand why this builds ar

[2020-07-27 07:37] bartocc commented on #47
@flexyford Have you found a solution to this?

[2020-07-27 15:49] flexyford commented on #47
@bartocc we have no found a proper solution yet, but you could always tie down your node version in `package.json` similar to what was proposed in https://github.com/heroku/heroku-buildpack-emberjs/issues/47#issuecomment-500689864

[code]

[2020-07-27 16:47] bartocc commented on #47
We did do that indeed, but it did not solve the issue 🤦‍♂️

[2020-07-27 18:21] flexyford commented on #47
@bartocc really? Is it the same error message? You might also try specifying a range that ignores `12.18.3`...

[code]

[2020-07-28 02:47] jtgeibel commented on #61
I was able to get `rake compile` working in #62. Then I built on Ubuntu 16.04 (to be compatible with the heroku-16 stack) and packaged a custom `*.tgz` (mirroring the file layout of the upstream release).

[emberjs.tar.gz](https://github.com/heroku/heroku-buildpack-emberjs/files/4985662/emberjs.tar.gz) - Note that I've uploaded this as a `.tar.gz` so that GH would accept it, but to be compatible w

[2020-07-28 04:14] rajveerappan commented on #61
@jtgeibel I similarly got it building (using `docker-compose run compile`) and used the updated binary with Heroku but I noticed that it was still `Fetching buildpack heroku/nodejs-v98` when running CI tests. I saw that `nodejs-v98` is still used in two places:
https://github.com/heroku/heroku-buildpack-emberjs/blob/77ef61476dc73f1baa5325ef232822bdb9f2ad9d/buildpack/mrblib/buildpack/commands/test_

[2020-07-28 08:10] bartocc commented on #47
ok, I just realized that I made a typo and specified `12.8.2` instead of `12.18.2` 🤦‍♂️

[2020-07-28 13:06] rajveerappan commented on #47
See https://github.com/heroku/heroku-buildpack-emberjs/issues/61 for the node issue.

[2020-07-29 02:29] jtgeibel commented on #61
@rajveerappan I'm sure you're right, it looks like those lines should be updated as well. Since that's in the tests I don't think it should impact the file I built, but I agree the version should be unpinned there too.

[2020-07-29 02:38] jtgeibel commented on #61
Oh, I have noticed that it appears the ember application is being built twice with the package I built. I'm guessing that the nodejs buildpack now runs `npm run build`, and then this buildpack runs it again. I haven't looked into this at all.

[2020-07-29 19:14] ohsnapitscolin commented on #61
@jtgeibel have you been able to successfully build on Heroku with the custom built package linked in https://github.com/heroku/heroku-buildpack-emberjs/issues/61#issuecomment-664744112? We've tried downloading, compressing and hosting it but running into an `App not compatible with buildpack:` error.

[2020-07-31 01:08] jtgeibel commented on #61
Hey @ohsnapitscolin, yes I've use that custom built package to build an application on Heroku. To clarify, there should be no need to compress the file, just to rename it to `emberjs.tgz`. Maybe the file you're hosting was compressed a 2nd time. The other thing I would check is if the web server is sending `content-encoding: gzip` then maybe the client (downloading the buildpack within the build e

[2020-07-31 18:14] ohsnapitscolin commented on #61
Thanks @jtgeibel! Not sure if I messed something up during the extracting and re-compressing process, but just simply renaming got it working for me! For anyone else with the issue, downloading [emberjs.tar.gz](https://github.com/heroku/heroku-buildpack-emberjs/files/4985662/emberjs.tar.gz), renaming it to `emberjs.tgz` and hosting the file yourself should resolve the issue.

It's also worth notin

[2020-08-02 17:35] imanuelgittens commented on #47
@flexyford I got the same issue after pinning my versions

[code]

@bartocc did it work for you?

[2020-08-03 11:58] imanuelgittens commented on #61
@jtgeibel this helped me a lot! I'm still hopeful that the official buildpack will be updated though.

[2020-08-07 09:39] lancedikson commented on #61
Running into the same issue. Fixing node version to `12.18.2` fixed the problem for us, but it would be nice not to be blocked by that 🙂

[2020-08-08 00:22] andrewcallahan commented on #61
Can second that setting node to `12.18.2` works for me! Great temporary solution that _finally_ allows new builds!!

[2020-08-19 12:04] edmorley commented on #61
@hone I came across this issue recently (see context in [W-7981024](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07B0000008UNgMIAW/view)) and thought I'd try to quickly push out a new release to resolve the issues here.

I tried using `rake publish` from the root of this repo, however the Docker build of the compiled binary failed with:

[code]

The curl/untar of `http://pyyaml.org/dow

[2020-09-23 00:41] camerondubas commented on #61
With the release of Node 12.18.4 which includes two security patches, getting this buildpack updated has become even more important.

Is there any progress being made here? I'm happy to help if I can.

[2020-09-28 14:05] musaffa commented on #61
It's a shame that an official buildpack of Heroku has been left unmaintained for such a long time.

[2020-09-28 20:03] cloke commented on #61
FWIW pinning to node 12.18.2 also worked for me and then today deploys started failing again. Pinning everything to the last known working version fixed it for me:
`  "engines": {
    "node": "12.18.2",
    "npm": "6.14.5",
    "yarn": "1.22.5"
  },`

[2020-11-22 16:08] edmorley opened #65 ""bin/nginx: error while loading shared libraries: libcrypto.so.1.0.0" on Heroku-20"
Whilst this buildpack is no longer maintained, I'm filing this in case it helps others with debugging.

We've had a support ticket reporting that using this buildpack on Heroku-20 results in the following error at application start (after a seemingly successful build):

[code]

This error is coming from the nginx binary installed by the static buildpack (which is one of the several buildpacks the

[2020-11-22 17:26] edmorley commented on #65
This has now been resolved, by making sure the static buildpack published to the buildpack registry is also synced back to the legacy `codon-buildpacks` S3 bucket too, in:
https://github.com/heroku/heroku-buildpack-static/issues/187

Longer-term users of the emberjs buildpack should migrate to using the nodejs/static/... buildpacks directly.

[2020-11-22 17:26] #65 closed

[2020-12-04 23:58] lionelrudaz opened #66 "Is the buildpack still working?"
Hey everyone,

I've spent my day trying to deploy my Ember application to Heroku. I did that in the past with other apps, so I was surprised it didn't work this time.

I tried with and without the Buildpack. Putting the Buildpack before or after the nodejs one. None of it work.

Either I get an error that Node can't be downloaded at building, or the app crashes with no more details.

Here's the lo

[2021-02-12 19:58] joekarl commented on #61
I'm following up on this thread as this buildpack really should get updated as it's un-useable with more recent versions of node (in particular 14+).

A workaround (thanks @James1x0) had was to unpin the node buildpack version (this is done in master currently), build the buildpack binary, and then commit said binary back into the repo at `vendor/buildpack`. you can then use the `.git` URL of your

[2021-03-13 01:47] musaffa commented on #61
I'm using a fork of this repository: https://github.com/James1x0/heroku-buildpack-emberjs

[code]

It provides the updated binary. You can use the latest nodes with this buildpack.

**Warning:** The fork is a third party buildpack. Use it with your own risk.

[2021-03-13 01:59] James1x0 commented on #61
Hi there - we use this fork in some prod apps and try and update it when it breaks. Happy to review any PRs if someone wants to help out! It also has a binary on the official buildpack registry, so make sure and use that instead of the GitHub link unless you like living on the edge :)

[2021-04-19 15:17] cloke commented on #61
I noticed that the "About" now shows "**This buildpack is deprecated!** Please use the official Node.js buildpack combined with the static buildpack instead." If anyone has an example of this method that would be great as it appears this build pack won't be receiving updates.

[2021-06-15 15:17] lancedikson commented on #61
@cloke, we don't use fastboot, thus it makes the configuration a little bit easier. Here is what works for us, maybe will be applicable for you as well:
1. Make sure you've added the following buildpacks to the app:
[code]
Also, pay attention to the order: during building they should appear exactly in the mentioned order.
2. Add a `static.json` that points out to the dist dir:
[code]
3. Add `build

[2022-02-01 02:51] Subtletree commented on #61
@lancedikson Awsome! Working for me too and feels damn good to get rid of `heroku-buildpack-emberjs`

[2022-04-16 04:45] kallonbundu commented on #55
My django project is showing blank after a successful deployment

$ git push heroku main
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 4 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 739 bytes | 739.00 KiB/s, done.
Total 6 (delta 5), reused 0 (delta 0), pack-reused 0
remote: Compressing source files... done.
remote:

[2022-04-16 04:47] kallonbundu commented on #55
Django app show blank after a successful deployment on heroku
_______________________________________________________________________

$ git push heroku main
Enumerating objects: 11, done.
Counting objects: 100% (11/11), done.
Delta compression using up to 4 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 739 bytes | 739.00 KiB/s, done.
Total 6 (delta 5), reused 0 (delt

[2022-08-01 22:46] joshwlewis commented on #66
This buildpack is deprecated and likely not working, sorry. More info on #61.

[2022-08-02 08:55] edmorley commented on #8
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:55] #8 closed

[2022-08-02 08:55] edmorley commented on #9
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:55] #9 closed

[2022-08-02 08:55] edmorley commented on #12
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:55] #12 closed

[2022-08-02 08:55] edmorley commented on #13
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:55] #13 closed

[2022-08-02 08:56] edmorley commented on #14
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:56] #14 closed

[2022-08-02 08:56] edmorley commented on #16
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:56] #16 closed

[2022-08-02 08:56] edmorley commented on #18
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:56] #18 closed

[2022-08-02 08:56] edmorley commented on #20
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:56] #20 closed

[2022-08-02 08:56] edmorley commented on #25
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:56] #25 closed

[2022-08-02 08:56] edmorley commented on #27
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:56] #27 closed

[2022-08-02 08:57] edmorley commented on #28
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:57] #28 closed

[2022-08-02 08:57] edmorley commented on #30
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:57] #30 closed

[2022-08-02 08:57] edmorley commented on #37
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:57] #37 closed

[2022-08-02 08:57] edmorley commented on #41
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:57] #41 closed

[2022-08-02 08:57] edmorley commented on #43
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:57] #43 closed

[2022-08-02 08:58] edmorley commented on #47
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:58] #47 closed

[2022-08-02 08:58] edmorley commented on #51
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:58] #51 closed

[2022-08-02 08:58] edmorley commented on #53
This buildpack has been deprecated (c06c1e31291c24f71e8d84225727887506c3c897), and it's also no longer possible for changes to be made to it, due to the issues mentioned in #61.

[2022-08-02 08:58] #53 closed